## Series数据结构的创建

### 指定内容默认索引

In [32]:
import pandas as pd
import numpy as np
pd.Series(data=np.arange(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

### 指定索引

In [31]:
import pandas as pd
pd.Series(data=[6, 7, 8, 9, 10], index=[0, 1, 2, 3, 4])

0     6
1     7
2     8
3     9
4    10
dtype: int64

### 通过字典数据

In [30]:
import pandas as pd
pd.Series(data={'name': 'thanlon', 'age': 24, 'address': '中国上海'})

name       thanlon
age             24
address       中国上海
dtype: object

## Series数据结构的属性

### index

In [34]:
import pandas as pd
staff = pd.Series(data={'name': 'thanlon', 'age': 24, 'address': '中国上海'})
print('职员的姓名：',staff[0])
print('职员的年龄：',staff['age'])
print(staff.index)

职员的姓名： thanlon
职员的年龄： 24
Index(['name', 'age', 'address'], dtype='object')

### value