## Series数据结构的创建

### 指定内容默认索引

In [32]:
import pandas as pd
import numpy as np
pd.Series(data=np.arange(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

### 指定索引

In [31]:
import pandas as pd
pd.Series(data=[6, 7, 8, 9, 10], index=[0, 1, 2, 3, 4])

0     6
1     7
2     8
3     9
4    10
dtype: int64

### 通过字典数据

In [30]:
import pandas as pd
pd.Series(data={'name': 'thanlon', 'age': 24, 'address': '中国上海'})

name       thanlon
age             24
address       中国上海
dtype: object

## Series数据结构的属性

### index

In [34]:
import pandas as pd
staff = pd.Series(data={'name': 'thanlon', 'age': 24, 'address': '中国上海'})
print('职员的姓名：',staff[0])
print('职员的年龄：',staff['age'])
print(staff.index)

职员的姓名： thanlon
职员的年龄： 24
Index(['name', 'age', 'address'], dtype='object')

### values

In [62]:
import pandas as pd
staff = pd.Series(data={'name': 'thanlon', 'age': 24, 'address': '中国上海'})
print(staff.values) # <class 'numpy.ndarray'>

['thanlon' 24 '中国上海']

## DataFrame数据结构的创建

###  DataFrame的创建举例一

In [40]:
import pandas as pd
import numpy as np
pd.DataFrame(data=np.random.randn(2, 3))

          0         1         2
0 -0.294111 -0.810178 -0.758091
1  2.111969 -0.413012 -2.445614

###  DataFrame的创建举例二

In [59]:
# 分别使用numpy和pandas生成学生的成绩表，生成10个同学的6个科目的成绩
import numpy as np
score = np.random.randint(0, 100, (10, 6))
print(score)
score_df = pd.DataFrame(score)
score_df

[[ 1  8 92  3 73 88]
 [34 89  1 93 52  4]
 [ 0 57 98 98 65 12]
 [11 20 33 91 43 29]
 [ 2 32 83 75 26 44]
 [ 7 49 55 60 49 19]
 [99 78 40 82 27 58]
 [59 96 32 75 21 54]
 [59  2 39 99 54 52]
 [89  4  3 61 91 75]]

    0   1   2   3   4   5
0   1   8  92   3  73  88
1  34  89   1  93  52   4
2   0  57  98  98  65  12
3  11  20  33  91  43  29
4   2  32  83  75  26  44
5   7  49  55  60  49  19
6  99  78  40  82  27  58
7  59  96  32  75  21  54
8  59   2  39  99  54  52
9  89   4   3  61  91  75

###  DataFrame增加行列索引

In [79]:
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
print(score)
score_df = pd.DataFrame(score)
print(score_df)
# 构建行索引序列
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
# 构建列索引序列
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
# 添加行索引
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
data

[[98 68 82 73 63 63]
 [73 83 76 67 95 63]
 [88 61 60 74 72 93]
 [94 61 62 91 84 64]
 [83 92 97 68 79 94]
 [77 60 65 95 98 62]
 [98 99 88 96 70 77]
 [91 83 95 67 75 94]
 [73 69 67 69 60 74]]
    0   1   2   3   4   5
0  98  68  82  73  63  63
1  73  83  76  67  95  63
2  88  61  60  74  72  93
3  94  61  62  91  84  64
4  83  92  97  68  79  94
5  77  60  65  95  98  62
6  98  99  88  96  70  77
7  91  83  95  67  75  94
8  73  69  67  69  60  74

     语文  数学  英语  历史  政治  数学
学生1  98  68  82  73  63  63
学生2  73  83  76  67  95  63
学生3  88  61  60  74  72  93
学生4  94  61  62  91  84  64
学生5  83  92  97  68  79  94
学生6  77  60  65  95  98  62
学生7  98  99  88  96  70  77
学生8  91  83  95  67  75  94
学生9  73  69  67  69  60  74

## DataFrame数据结构的属性

### shape

In [89]:
'''
查看几行几列
'''
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
print(data.shape)
data

(9, 6)

     语文  数学  英语  历史  政治  数学
学生1  74  91  82  96  65  67
学生2  69  66  88  96  73  95
学生3  87  89  92  78  84  81
学生4  93  93  98  82  70  66
学生5  71  66  98  88  75  83
学生6  90  93  82  71  96  94
学生7  64  97  99  88  96  84
学生8  95  90  93  65  86  96
学生9  90  89  68  72  83  81

### index

In [90]:
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
print(data.index)
data

Index(['学生1', '学生2', '学生3', '学生4', '学生5', '学生6', '学生7', '学生8', '学生9'], dtype='object')

     语文  数学  英语  历史  政治  数学
学生1  69  89  80  77  83  85
学生2  97  96  75  91  99  78
学生3  99  84  86  65  88  98
学生4  87  97  74  76  65  82
学生5  86  88  82  61  90  86
学生6  60  93  80  95  69  93
学生7  83  89  82  65  63  75
学生8  77  91  60  82  73  69
学生9  78  92  83  97  81  82

### columns

In [92]:
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
print(data.columns)
data

Index(['语文', '数学', '英语', '历史', '政治', '数学'], dtype='object')

     语文  数学  英语  历史  政治  数学
学生1  61  76  89  90  99  72
学生2  85  70  61  60  61  83
学生3  78  99  72  87  69  75
学生4  82  88  89  86  81  73
学生5  76  90  78  90  70  66
学生6  97  63  66  75  68  84
学生7  72  93  91  86  91  78
学生8  73  66  78  70  74  92
学生9  73  78  87  72  88  74

### values

In [93]:
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
print(data.values)
data

[[75 89 89 73 66 86]
 [93 61 86 97 63 80]
 [78 91 64 69 76 64]
 [90 60 86 65 71 91]
 [67 68 70 96 76 82]
 [80 64 69 84 73 65]
 [80 90 83 61 83 84]
 [63 68 78 93 69 72]
 [90 91 78 73 65 63]]

     语文  数学  英语  历史  政治  数学
学生1  75  89  89  73  66  86
学生2  93  61  86  97  63  80
学生3  78  91  64  69  76  64
学生4  90  60  86  65  71  91
学生5  67  68  70  96  76  82
学生6  80  64  69  84  73  65
学生7  80  90  83  61  83  84
学生8  63  68  78  93  69  72
学生9  90  91  78  73  65  63

### T

In [97]:
'''
转置
'''
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
data.T

    学生1  学生2  学生3  学生4  学生5  学生6  学生7  学生8  学生9
语文   87   98   71   75   86   84   92   80   65
数学   98   76   90   89   82   80   98   99   76
英语   99   82   75   69   91   88   78   88   85
历史   99   90   71   78   60   85   92   61   90
政治   93   69   69   60   80   80   76   93   94
数学   92   64   61   88   99   77   71   96   66

### head(n)

In [103]:
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
data.head()

     语文  数学  英语  历史  政治  数学
学生1  66  71  97  97  65  78
学生2  82  61  74  92  82  63
学生3  69  75  71  66  85  70
学生4  79  98  62  90  75  97
学生5  61  64  70  94  85  82

### tail(n)

In [100]:
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
data.tail()

     语文  数学  英语  历史  政治  数学
学生5  95  65  97  60  92  67
学生6  62  60  81  95  72  74
学生7  61  90  80  65  60  83
学生8  63  81  96  69  61  75
学生9  98  86  72  69  93  95

## DataFrame索引的设置

### 修改行列索引值

In [112]:
'''
必须整体全部修改，不能使用索引方式改局部，如data.index[0] = '学生_1'
'''
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
stu1 = ['学生_'+str(i+1) for i in range(score_df.shape[0])]
data.index = stu1
data

      语文  数学  英语  历史  政治  数学
学生_1  79  80  81  61  76  80
学生_2  64  98  73  60  66  74
学生_3  71  60  89  64  97  72
学生_4  69  70  96  63  95  97
学生_5  85  93  68  75  81  82
学生_6  61  68  64  78  97  72
学生_7  92  96  96  62  90  77
学生_8  68  79  89  91  81  82
学生_9  88  90  72  94  85  71

### 重设索引

In [123]:
'''
使用reset_index(drop=False)，可以用来设置新的下标索引，drop：默认是False，不删除原来的索引，如果为True，删除原来的索引值
不删除原来的索引
'''
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
data = data.reset_index()
data

  index  语文  数学  英语  历史  政治  数学
0   学生1  86  79  83  98  90  78
1   学生2  74  61  78  80  74  85
2   学生3  85  61  69  61  64  72
3   学生4  89  71  74  70  89  85
4   学生5  80  93  88  97  95  65
5   学生6  85  77  69  88  98  91
6   学生7  94  94  82  94  89  81
7   学生8  90  85  85  70  60  75
8   学生9  64  91  82  78  89  83

In [127]:
'''
使用reset_index(drop=False)，可以用来设置新的下标索引，drop：默认是False，不删除原来的索引，如果为True，删除原来的索引值
删除原来的索引
'''
import numpy as np
import pandas as pd
score = np.random.randint(60, 100, (9, 6))
score_df = pd.DataFrame(score)
subjects = ['语文', '数学', '英语', '历史', '政治', '数学']
stu = ['学生'+str(i+1) for i in range(score_df.shape[0])]
data = pd.DataFrame(data=score,  index=stu, columns=subjects)
data = data.reset_index(drop=True)
data

   语文  数学  英语  历史  政治  数学
0  66  99  61  81  73  98
1  85  86  62  87  99  62
2  85  61  85  81  73  65
3  60  70  77  92  84  89
4  81  88  78  80  68  93
5  68  63  94  74  92  82
6  99  68  74  63  62  99
7  80  83  83  87  96  70
8  96  79  84  80  68  93

### 以某列值设置为新的索引

In [15]:
'''
设置新的索引：set_index(keys, drop=True)
keys：列索引名称或列索引名称的列表
drop：boolean类型，默认是True，当做新的索引，删除原来的列
以月份设置新的索引
'''
import pandas as pd
df = pd.DataFrame({
    'month': [1, 2, 3, 4],
    'year': [2017,2018, 2019, 2020],
    'sale': [66, 77, 88, 99]
})
df = df.set_index('month')
df

       year  sale
month
1      2017    66
2      2018    77
3      2019    88
4      2020    99

In [16]:
'''
设置新的索引：set_index(keys, drop=True)
keys：列索引名称或列索引名称的列表
drop：boolean类型，默认是True，当做新的索引，删除原来的列
以年份和月份设置新的索引
'''
import pandas as pd
df = pd.DataFrame({
    'month': [1, 2, 3, 4],
    'year': [2017, 2018, 2019, 2020],
    'sale': [66, 77, 88, 99]
})
df = df.set_index(['year', 'month'])
df

            sale
year month
2017 1        66
2018 2        77
2019 3        88
2020 4        99